[submodule "submodules/googletest"]
	path = submodules/googletest
	url = https://github.com/google/googletest.git
[submodule "submodules/rapidjson"]
	path = submodules/rapidjson
	url = https://github.com/miloyip/rapidjson.git
